* {margin: 0; padding: 0;}
*, ::before, ::after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body {overflow: hidden;}
body {font-family: 'Cookie', cursive; background: url(/public/bg.jpg) top center; background-size: cover; font-size: 40px;}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.content {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
}

.title {
  color: #fff;
  font-size: 60px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.pix {
  color: #e87bb1;
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

button {
  width: 400px;
  max-width: 90%;
  height: 60px;
  border: 2px #a40051 solid;
  border-radius: 20px;
  background: #fff;
  color: #e87bb1;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  background: #e87bb1;
  color: #fff;
}
